# Auto detect text files
* text=auto

# C++ source and header files
*.cpp linguist-language=C++
*.h linguist-language=C++

# Qt Designer UI files
*.ui linguist-language=XML

# Ignore generated build files
build/ linguist-generated
CMakeFiles/ linguist-generated
*.cmake linguist-generated
Makefile linguist-generated
